@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

:root{
    --orange-primary:#ff9933;
    --blue-pastel:#B4E4FF;
}

